### Laravel ###
/admin/node_modules
/admin/storage
/admin/vendor
/node_modules
/public/attachments
/storage
/vendor
/.idea
/.vagrant
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
.env

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
